# Виртуальные окружения
.venv/
.venv-1/
venv/
env/

# Секреты и ключи
.env
cookies.txt

# База данных (чтобы не затирать её при обновлении кода)
*.sqlite
*.db

# Папки кэша Python
__pycache__/
*.pyc

# Скачанные файлы бота
downloads/

# Исполняемые файлы FFmpeg (если они у тебя лежат в папке)
*.exe